<h1>予約管理</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>時間</th>
      <th>お客様名</th>
      <th>フロア</th>
      <th>人数</th>
      <th>ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.date %></td>
        <td><%= reservation.time.strftime("%H:%M") %></td>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.floor.name %></td>
        <td><%= reservation.number_of_people %>名</td>
        <td><%= reservation.status %></td>
        <td><%= link_to "詳細", admin_reservation_path(reservation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>